.product {
    display: flex;
    padding: 1rem;
    background: #fff;
    width: 300px;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    justify-content: space-between;
}

.product > p {
    margin-bottom: 8px;
}

.product_img {
    margin: 20;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product_des {
    font-size: 0.8rem;
}

@media (max-width: 1232px) {
    .product {
        width: 360px;
    }
}

@media (max-width: 1115px) {
    .product {
        width: 330px;
    }
}

@media (max-width: 1028px) {
    .product {
        width: 300px;
    }
}

@media (max-width: 950px) {
    .product {
        width: 400px;
    }
}

@media (max-width: 830px) {
    .product {
        width: 330px;
    }
}

@media (max-width: 700px) {
    .product {
        width: 300px;
    }


}

@media (max-width: 630px) {
    .product {
        width: 450px;
    }
}

@media (max-width: 500px) {
    .product {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .product {
        width: 350px;
    }
}